<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
               >

<h:head></h:head> 
<body> 
<h:form>
<h2>Create Project </h2>
<h:panelGrid columns="2">
<h:outputText value="title" />
<h:inputText value="#{CreateProject.project.title}" />
<h:outputText value="category" />
<h:inputText value="#{CreateProject.project.category}" />
<h:outputText value="description" />
<h:inputText value="#{CreateProject.project.description}" />
<h:commandButton action="#{CreateProject.doSaveOrUpdate}" value="validate" />
<h:commandButton action="back" value="Back" />

</h:panelGrid>

</h:form>
</body> 

</ui:composition>