<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 
<h:form>
<h2>Project Management </h2>
<h:dataTable border="1" value="#{gestion.dataModel}" var="project">
<h:column>
<f:facet name="header">
<h:outputText value="Title" />

</f:facet>
<h:outputText value="#{project.title}" />
</h:column>
<h:column>
<f:facet name="header">
<h:outputText value="Category" />

</f:facet>
<h:outputText value="#{project.category}" />
</h:column>
<h:column>
<f:facet name="header">
<h:outputText value="Description" />

</f:facet>
<h:outputText value="#{project.description}" />
</h:column>
<h:column>
<f:facet name="header">
<h:outputText value="Avatar" />

</f:facet>
<h:outputText value="#{project.avatar}" />
</h:column>
<h:column>
<f:facet name="header">
</f:facet>
<h:commandButton value="Update" action="#{gestion.update}" />
<h:commandButton value="Delete" action="#{gestion.deleteProject}" />
</h:column>



</h:dataTable>
<h2>Modification d'un projet</h2>
<h:panelGrid columns="2">
<h:outputText value="title" />
<h:inputText value="#{gestion.project.title}" />
<h:outputText value="category" />
<h:inputText value="#{gestion.project.category}" />
<h:outputText value="description" />
<h:inputText value="#{gestion.project.description}" />
<h:outputText value="avatar" />
<h:inputText value="#{gestion.project.avatar}" />
<h:commandButton value="update" action="#{gestion.updateproject}" />
</h:panelGrid>
<h:commandButton action="back" value="menu.xhtml" />
</h:form>
</body> 
</html>
