<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 
<h:form>
<h:panelGrid columns="2">
<h:outputLink value="createproject.xhtml">
<h:outputText value="Create Project" />
</h:outputLink>
<h:outputLink value="gestionproject.xhtml">
<h:outputText value="Project Management" />
</h:outputLink>

</h:panelGrid>
</h:form>
</body> 
</html>
