<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
                	
			<h:body>
			
			<h:form id="form">  
  
    <p:dataTable var="prod" value="#{productBean.projects}" paginator="true" rows="5"  
                 id="tabProduct">  
  
      
  
        <f:facet name="header">  
            Products List <h:outputLabel value="#{authBean.profile.login}" />
        </f:facet>  
  
        <p:column headerText="Id" sortBy="#{prod.idProject}" filterBy="#{prod.idProject}" id="cid">  
            #{prod.idProject} 
        </p:column>  
  
        <p:column headerText="Title" sortBy="#{prod.title}" filterBy="#{prod.title}" id="ctitle">  
           #{prod.title} 
        </p:column>  
  
        <p:column headerText="Description" sortBy="#{prod.description}"  id="cdescription">  
           #{prod.description} 
        </p:column>  
  
  
  
    </p:dataTable>  
  
    
  
</h:form>  
			
			</h:body>
</html>