<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                >
           <h:form>
           <h:dataTable rendered="#{not empty categoryBean.categories  }"
            value="#{categoryBean.categories}" 
            var="cat" 
            border="5">
            
            <f:facet name="header">
                      <h:outputText value="All Categories" />
                 </f:facet>
                 <h:column>
                 <f:facet name="header">
                      <h:outputText value="Id" />
                 </f:facet>
                 <h:outputText value="#{cat.id}" />
                 </h:column>
             <h:column>
                 <f:facet name="header">
                      <h:outputText value="Name" />
                 </f:facet>
                 <h:outputText value="#{cat.name}" />
                 </h:column>
           
           <h:column>
                 <f:facet name="header">
                      <h:outputText value="Action" />
                 </f:facet>
                	<h:commandButton value="Select" >
                		<f:setPropertyActionListener target="#{categoryBean.category}" value="#{cat}"/>
                		<f:setPropertyActionListener target="#{categoryBean.formDisplayed}" value="true"/>
                	
                	</h:commandButton>
                 </h:column>
           </h:dataTable>
           <h:commandButton value="new" action="#{categoryBean.doNew}" />
            </h:form>
           
			
			
			
</ui:composition>