<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
              >
                	
			
			
			<h:form rendered="#{projectBean.formDisplayed}">
			<h:panelGrid columns="2">
			<h:outputText value="Id" />
			<h:inputText value="#{projectBean.project.idProject}" />
			<h:outputText value="Title" />
			<h:inputText value="#{projectBean.project.title}" />
			<h:outputText value="Description" />
			<h:inputText value="#{projectBean.project.description}" />
			<h:outputText value="Category" />
			<h:selectOneMenu value="#{projectBean.selectedCategoryId}">
				<f:selectItem itemValue="-1" itemLabel="Select Category"/>
				<f:selectItems value="#{projectBean.selectItemsForCategories}"/>
			</h:selectOneMenu>
			
			<h:commandButton action="#{projectBean.doCancel}" value="Cancel" />
			<h:panelGrid columns="2">
				<h:commandButton action="#{projectBean.doDelete}" value="Delete" />
				<h:commandButton action="#{projectBean.doSaveOrUpdate}" value="Save" />
			</h:panelGrid>
			
			</h:panelGrid>
			</h:form>
			
			
</ui:composition>