<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                >
           <h:form>
           <h:dataTable rendered="#{not empty productBean.projects  }"
            value="#{projectBean.projects}" 
            var="prod" 
            border="5">
            
            <f:facet name="header">
                      <h:outputText value="All Projects" />
                 </f:facet>
                 <h:column>
                 <f:facet name="header">
                      <h:outputText value="Id" />
                 </f:facet>
                 <h:outputText value="#{prod.idProject}" />
                 </h:column>
             <h:column>
                 <f:facet name="header">
                      <h:outputText value="Title" />
                 </f:facet>
                 <h:outputText value="#{prod.title}" />
             </h:column>
             
           
           
           <h:column>
                 <f:facet name="header">
                      <h:outputText value="description" />
                 </f:facet>
                 <h:outputText value="#{prod.description}" />
             </h:column>
           
           
               
           <h:column>
                 <f:facet name="header">
                      <h:outputText value="Category" />
                 </f:facet>
                 <h:outputText value="#{prod.category.name}" />
             </h:column>
           <h:column>
                 <f:facet name="header">
                      <h:outputText value="Action" />
                 </f:facet>
                	<h:commandButton value="Select" >
                		<f:setPropertyActionListener target="#{projectBean.project}" value="#{prod}"/>
                		<f:setPropertyActionListener target="#{projectBean.formDisplayed}" value="true"/>
                		<f:setPropertyActionListener target="#{projectBean.selectedCategoryId}" value="#{prod.category.id}"/>
                	
                	</h:commandButton>
                 </h:column>
           </h:dataTable>
           <h:commandButton value="new" action="#{projectBean.doNew}" />
            </h:form>
           
			
			
			
</ui:composition>