<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/img/crowd2.jpg" />
</h:head>
<body bgcolor="FCFCFC">
	<h:form>
		<!-- <h:panelGrid columns="2" width="400" border="2" style="height : 149px; width : 947px;"> -->
		<p:dock position="top" itemWidth="100" maxWidth="50" widgetVar="50">
			<p:menuitem value="Home" icon="/resources/img/1.png" url="/pages/accueil.jsf"
				style="color:#000000" />
			<p:menuitem value="View projects" icon="/resources/img/3.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
			<p:menuitem value="Add project" icon="/resources/img/4.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
			<p:menuitem value="Contact us" icon="/resources/img/5.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
		</p:dock>
		<h:graphicImage value="/resources/img/crowd.jpg" width="148"
			height="90" />
		<h:form>
			<br></br>
			<br />
			<p:panel id="pnl" header="Platform crowdfunding" toggleSpeed="200">
			<center>
				<p:fieldset legend="Registration form" toggleable="true"
					toggleSpeed="500">
<h:form id="register">
				<h:panelGrid columns="3">
				
					<h:outputText value="Login*:"/>
					<p:keyboard layout="alphabetic" id="lg" value="#{registerCreatorBean.creator.login}" required="true" requiredMessage="login is required" validator="#{registerCreatorBean.validateLogin}">
						<f:ajax event="blur" execute="@this" render="mlg"/>
					</p:keyboard>
					<h:message id="mlg" for="lg" styleClass="error"/>
					
					<h:outputText value="Email*:"/>					
					<p:keyboard layout="alphabetic" id="e" value="#{registerCreatorBean.creator.email}" required="true" requiredMessage="email is required" validatorMessage="invalid email">
						<f:validateRegex pattern="^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" />
					</p:keyboard>
					<h:message for="e" styleClass="error" />
					
					<h:outputText value="Password*:"/>
					<p:keyboard password="true" id="p" value="#{registerCreatorBean.creator.password}" required="true" requiredMessage="password is required" >
					</p:keyboard>
					<h:message for="p" styleClass="error"/>
					
					<h:outputText value="Firstname:"/>
					<p:keyboard layout="alphabetic" id="fn" value="#{registerCreatorBean.creator.firstName}" required="true" requiredMessage="Your first name is required" validatorMessage="between 3 and 10">
						<f:validateLength minimum="3" maximum="10"/>
					</p:keyboard>
					<h:message for="fn" styleClass="error"/>
					
					<h:outputText value="Lastame:"/>
					<p:keyboard layout="alphabetic" id="ln" value="#{registerCreatorBean.creator.lastName}" required="true" requiredMessage="Your last name is required" validatorMessage="between 3 and 10">
						<f:validateLength minimum="3" maximum="10"/>
					</p:keyboard>
					<h:message for="ln" styleClass="error"/>
					
					<h:outputText value="Profession:"/>
					<p:keyboard layout="alphabetic" id="pr" value="#{registerCreatorBean.creator.profession}" validatorMessage="between 3 and 10">
						<f:validateLength minimum="2" maximum="10"/>
					</p:keyboard>
					<h:message for="pr" styleClass="error"/>
					
					<h:outputText value="Phone Number"/>
					<p:keyboard layout="Default Keypad:" id="pn" value="#{registerCreatorBean.creator.tel}" >
					</p:keyboard>
					<h:message for="pn" styleClass="error"/>
					
					<h:outputText value="Avatar:"/>
					<p:fileUpload fileUploadListener="#{registerCreatorBean.creator.photo}"
								sizeLimit="500000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"></p:fileUpload>
					
				</h:panelGrid>
				<h:commandButton action="#{registerCreatorBean.doRegister}" value="REGISTER" />
				<h:commandButton  immediate="true" action="/welcome" value="CANCEL" />
				<h:commandButton  immediate="true" type="reset" value="Reset" />
				<h:outputScript>
					$("#register\\:bd").mask("99/99/9999");
					$("#register\\:pn").mask("99-99-99-99");
				</h:outputScript>
			</h:form>
				</p:fieldset>
				</center>
				<a href="accueil.jsf ">Return to the home page</a>
			</p:panel>
		</h:form>

	</h:form>

</body>
</html>
