<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                	
			<ui:include src="/pages/product/list.xhtml" />
			<ui:include src="/pages/product/form.xhtml" />
</ui:composition>