<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet library="css" name="field.css"></h:outputStylesheet>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/crowd2.jpg" />
</h:head>
<body bgcolor="FCFCFC">
	<h:form>

		<p:dock position="top" itemWidth="100" maxWidth="50" widgetVar="50">
			<p:menuitem value="Home" icon="/resources/img/1.png" url="#" style="color:#000000" />
			<p:menuitem value="View projects" icon="/resources/img/3.png" url="/pages/project/list.jsf" style="color:#000000" />
			<p:menuitem value="Add project" icon="/resources/img/4.png" url="/pages/Authentification.jsf" style="color:#000000"/>  
  			<p:menuitem value="Contact us" icon="/resources/img/5.png" url="/pages/Authentification.jsf" style="color:#000000"/> 
		</p:dock>
		<h:graphicImage value="/resources/img/crowd.jpg" width="148" height="90" />
	</h:form>

	<br />
	<br />
	<a href="toregist.jsf ">Register</a>
	<a href="Authentification.jsf "> Log In</a>
	<br />
	<br />
	<p:fieldset legend="Platform crowdfunding " toggleSpeed="500">
		<h:panelGrid columns="2">
			<p:panel id="pnl" header="Welcome" toggleSpeed="200">
				<h:graphicImage value="/resources/img/crowdfunding.jpg" />
				<h5>Crowdfunding describes the collective cooperation,
					attention and trust by people who network and pool their money
					together, usually via the Internet, in order to support efforts
					initiated by other people or organizations. Crowdfunding occurs for
					any variety of purposes, from disaster relief to citizen journalism
					to artists seeking support from fans, to political campaigns.</h5>
				<h5>Crowdfunding can replace the need for specialized grant
					applications or other more formal and traditional fundraising
					techniques with that of a more casual, yet powerful, approach based
					on crowd participation.</h5>
				<h5>Crowdfunding is very much related to online communities
					and social networks. The crowd can already exist as a community but
					they can also suddenly form from disparate groups around the world
					who all happen to share an interest in funding a person, project,
					event, campaign etcetera. The Internet allows for information to
					flow around the world, increasing awareness. A Crowdfunded network
					can assemble and disassemble at any time.</h5>
			</p:panel>
		</h:panelGrid>
	</p:fieldset>
</body>
</html>
