<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/img/crowd2.jpg" />
</h:head>
<body bgcolor="FCFCFC">
	<h:form>
		<!-- <h:panelGrid columns="2" width="400" border="2" style="height : 149px; width : 947px;"> -->
		<p:dock position="top" itemWidth="100" maxWidth="50" widgetVar="50">
			<p:menuitem value="Home" icon="/resources/img/1.png" url="/pages/accueila.jsf"
				style="color:#000000" />
			<p:menuitem value="View projects" icon="/resources/img/3.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
			<p:menuitem value="Add project" icon="/resources/img/4.png"
				url="/pages/addproject.jsf" style="color:#000000" />
			<p:menuitem value="Contact us" icon="/resources/img/5.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
		</p:dock>
		<h:graphicImage value="/resources/img/crowd.jpg" width="148"
			height="90" />
		<h:form>
			<br></br>
			<br />
			<p:panel id="pnl" header="Platform crowdfunding" toggleSpeed="200">
			<center>
				<p:fieldset legend="Add project idea" toggleable="true"
					toggleSpeed="500">
<h:form id="register">
				<h:panelGrid columns="3">
				
					<h:outputText value="Title*:"/>
					<p:keyboard layout="alphabetic" id="mtt" value="#{projectBean.project.title}" required="true" requiredMessage="title is required" >
						<f:ajax event="blur" execute="@this" render="tt"/>
					</p:keyboard>
					<h:message id="tt" for="tt" styleClass="error"/>
					
							
					 
       				 <h:outputLabel for="category" value="Category: *" />  
            		<h:selectOneMenu id="category" value="#{projectBean.project.category}" required="true">  
               			 <f:selectItem itemLabel="Select One" itemValue="" />  
               			 <f:selectItems value="#{projectBean.selectItemsForCategories}" />  
            		</h:selectOneMenu>  
            		<p:message for="#{categoryBean.categories}" />  
            		<h:outputText value="#{categoryBean.category}" />  
					
					<h:outputText value="Amount to collect"/>
					<p:keyboard layout="Default Keypad:" id="am" value="#{projectBean.project.amount}" >
					</p:keyboard>
					<h:message for="am" styleClass="error"/>
							
					<!-- <h:outputText value="Date limit to collect funds:"/>
					<h:inputText id="dl" value="#{projectBean.project.date}" converterMessage="ex: 07/11/1987">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:inputText>
					<h:message for="dl" styleClass="error"/> -->
					

   					 <p:editor id="editor" value="#{projectBean.project.description}" width="600"/>  
					  <p:dialog header="Content" widgetVar="dlg" showEffect="fade" hideEffect="fade" modal="true">  
       				 <h:outputText id="display" value="#{projectBean.project.description}" escape="false" />  
   					 </p:dialog>  
  
					<!-- <h:outputText value="Avatar:"/>
					<p:fileUpload fileUploadListener="#{projectBean.project.attachement}"
								sizeLimit="500000" /"></p:fileUpload>
								 -->
					
				</h:panelGrid>
				<h:commandButton action="#{projectBean.doNew()}" value="REGISTER" />
				<h:commandButton  immediate="true" action="/home" value="CANCEL" />
				<h:commandButton  immediate="true" type="reset" value="Reset" />
				<h:outputScript>
					$("#register\\:dl").mask("99/99/9999");
					$("#register\\:am").mask("999.999.999");
				</h:outputScript>
			</h:form>
				</p:fieldset>
				</center>
				<a href="accueila.jsf ">Return to the home page</a>
			</p:panel>
		</h:form>

	</h:form>

</body>
</html>
