<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet library="css" name="field.css"></h:outputStylesheet>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/crowd2.jpg" />
</h:head>
<body bgcolor="FCFCFC">
	<br />
	<h:form>
		<p:dock position="top" itemWidth="100" maxWidth="50" widgetVar="50">
			<p:menuitem value="Home" icon="/resources/img/1.png" url="/pages/accueila.jsf" style="color:#000000" />
			<p:menuitem value="View projects" icon="/resources/img/3.png" url="/pages/project/list.jsf" style="color:#000000" />
			<p:menuitem value="Add project" icon="/resources/img/4.png" url="#" style="color:#000000" />
			<p:menuitem value="Contact us" icon="/resources/img/5.png" url="#" style="color:#000000" />
		</p:dock>
		<h:graphicImage value="/resources/img/crowd.jpg" width="148" height="90" />
	</h:form>
	<br />
	<br />
	<p:layoutUnit position="center">
		<h:form id="login_form">

			<p:panel id="pnl" header="Crowdfunding" toggleSpeed="200">
				<br />
				<p:draggable for="pnl" />

				<center>
					<p:fieldset legend="Authentication" toggleable="true"
						toggleSpeed="500">
						<h1>
							Authentication
							<h:graphicImage value="/resources/img/authen-icon.jpg" />
						</h1>
						<h:panelGrid columns="2">
							<h:column>
								<h:outputText value="Log In" />
							</h:column>
							<h:column>
								<h:inputText value="#{authBean.profile.login}"
									style=" width : 240px;" />
							</h:column>
							<h:column>
								<h:outputText value="Password" />
							</h:column>
							<h:column>
								<h:inputSecret value="#{authBean.profile.password}"
									style=" width : 240px;" />
							</h:column>

						</h:panelGrid>
						<center>
							<h:panelGrid columns="2">
								<h:column>
									<h:commandButton id="login_submit" action="#{authBean.login}"
										value="OK" style=" width : 133px;" />

								</h:column>
								<h:column>
									<h:message for="login_form:login_submit" id="msg1"
										style=" color:red; font-weight: bold;" />
								</h:column>
								<h:commandButton value="Sign In" style=" width : 133px;"
									action="#{authBean.redirect}" />
							</h:panelGrid>
						</center>
					</p:fieldset>
				</center>
				<a href="accueil.jsf "> Return to the home page</a>
			</p:panel>
		</h:form>
	</p:layoutUnit>
</body>
</html>
