<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/img/crowd2.jpg" />
</h:head>
<body bgcolor="FCFCFC">
	<h:form>
		<!-- <h:panelGrid columns="2" width="400" border="2" style="height : 149px; width : 947px;"> -->
		<p:dock position="top" itemWidth="100" maxWidth="50" widgetVar="50">
			<p:menuitem value="Home" icon="/resources/img/1.png" url="/pages/accueil.jsf"
				style="color:#000000" />
			<p:menuitem value="View projects" icon="/resources/img/3.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
			<p:menuitem value="Add project" icon="/resources/img/4.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
			<p:menuitem value="Contact us" icon="/resources/img/5.png"
				url="/pages/Authentification.jsf" style="color:#000000" />
		</p:dock>
		<h:graphicImage value="/resources/img/crowd.jpg" width="148"
			height="90" />
		<h:form>
			<br></br>
			<br />
			<p:panel id="pnl" header="Platform crowdfunding" toggleSpeed="200">
				<center>
				
				
				
				
				
				
				
				</center>
				<a href="accueil.jsf ">Return to the home page</a>
			</p:panel>
		</h:form>
	</h:form>
</body>

</html>
		